<footer class="text-white mt-5 pt-3">   
    <div class="p-1 footer" style='background-color:#EEEEEE; color:#AAAAAA; font-size:10px; border-style: solid none none none; border-color:#EEEEEE; border-width: 10px;'>© 2022 Copyright: ศูนย์ภูมิสารสนเทศเพื่อการจัดการต้นน้ำน่าน
  </div>
</footer>
</body>
</html>