<body class="" style='background-color:#EEEEEE; '>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">

    <div class="container">
        <p class="nav-band text-white h2"><a href='http://gisnan.ddnsthailand.com:8080'><img src='images/logo1.svg' height='40px' width='190px'></a></p>

        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navTogg">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navTogg">
        <ul class="navbar-nav">
            <li class='nav-item dropdown text-center'>
                <a class='nav-link dropdown-toggle' href='#' id='navbarDropdownMenuLink' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                เพิ่มข้อมูล
                </a>
                <div class='dropdown-menu' aria-labelledby='navbarDropdownMenuLink'>
                    <a class='dropdown-item ' href='/new?type=none'>เพิ่มข้อมูล</a>
                    <a class='dropdown-item' href='/new?type=shp'>นำเข้าข้อมูล Shape File</a>
                </div>
                </li>
            <li class='nav-item'><a href='/home' class='nav-link btn btn-dark'>รายการข้อมูล</a></li>
                <li class='nav-item dropdown text-center'>
                    <a class='nav-link dropdown-toggle' href='#' id='navbarDropdownMenuLink' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                    เครื่องมือ
                    </a>
                    <div class='dropdown-menu' aria-labelledby='navbarDropdownMenuLink'>
                        <a class='dropdown-item' href='#'>ข้อมูลเชิงพื้นที่จากตำแหน่งของฉัน</a>
                        <a class='dropdown-item' href='#'>แปลงระบบพิกัด</a>
                        <a class='dropdown-item' href='#'>รีเซ็ทระบบแนะนำ</a>
                        <a class='dropdown-item' href='#'>รายงานข้อผิดพลาด</a>
                    </div>
                </li>
            <li class='nav-item'><a href='/logout' class='nav-link btn btn-dark'>ออกจากระบบ</a></li>
        

        </ul>
        </div>

    </div>
</nav>